.noteContainer{
    margin-top: 2rem;
    width: 600px;
    height: 200px;
    background-color: white;
}
.txtArea{
    border: none;
    resize: none;
    width: 600px;
    height: 100px;
    padding: 1rem;
    background-color: white;
    outline: none;
}


.area{background-color: white;}
.submitPlace{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    background-color: white;
    height: 100px;
    padding: 1rem;
    padding-left: 1.5rem;
    
}
.colorChoose{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    gap: 0.5rem;
}
.color{
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 16rem;
    cursor: pointer;
}

.sumbitBtn{
    padding: 0.7rem;
    border-radius: 10rem;
    background-color: greenyellow;
    width: 5rem;
    cursor: pointer;
}