.searchContainer{
    margin-top: 3rem;
}
.searchInput{
    width: 15rem;
    height: 2.2rem;
    border-radius: 8rem;
    border: none;
    background-color: white;
    outline: none;
    padding: 1rem;
}